html, body{
    height: 100%;
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pText {
    position: absolute;
}

#author {
    position: absolute;
    bottom: 30px;
    font-size: 16px;
}

#title {
    position: absolute;
    bottom: 60px;
    font-size: 24px;
}

/* SLIDER */  
.slider {
    margin-top: 8px;
    width: 10%;
    height: 5px;
    background: #454545;
    outline: none;
    opacity: 0.9;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    -webkit-transition: .1s;
    transition: background-color .1s;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #f0d467;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
}

/* LINK HOVER */
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}

.link{
	color: black;
	font-weight: 700;

	text-decoration: none;
}

/*
* Underlining of link
*/
.link{
	position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 0px;
	padding-bottom: 3px;
	padding-right: 0px;
}

.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #f0d467 25%, rgba(0, 0, 0, 0) 25%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}

/* BUTTON style */
.button {
    font-family: 'Inconsolata', monospace;
	background-color:#000000;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    border: none;
    outline:none;
	font-size:16px;
	padding:9px 18px;
    text-decoration:none;
    -webkit-transition: .2s;
    transition: background-color .2s;
}

.button:hover {
    background-color:#f0d467;
    color: #000000;
}
